xterm*background: Black
xterm*foreground: White
Xcursor*theme: PolarCursorTheme-Green
Xcursor.size: 10

urxvt*background:  #000000
urxvt*foreground:  #cccccc
urxvt*fading:   40
urxvt*tintColor: #ffa500
urxvt*shading:   45
urxvt*transparent: true
urxvt*scrollBar: false
urxvt*saveLines: 1000
urxvt*urlLancher: firefox
urxvt*font: xft:Liberation Mono:pixelsize=9:antialias=true:hinting=true
urxvt*boldFont: xft:Liberation Mono:pixelsize=9:antialias=true:bold:hinting=true
urxvt*italicFont: xft:Liberation Mono:pixelsize=9:antialias=true:italic:autohint=true:hinting=true
urxvt*bolditalicFont: xft:Liberation Mono:pixelsize=9:antialias=true:bold:italic:autohint=true:hinting=true

urxvt*color0:      #000000
urxvt*color1:      #9e1828
urxvt*color2:      #aece92
urxvt*color3:      #968a38
urxvt*color4:      #414171
urxvt*color5:      #963c59
urxvt*color6:      #418179
urxvt*color7:      #bebebe
urxvt*color8:      #666666
urxvt*color9:      #cf6171
urxvt*color10:     #c5f779
urxvt*color11:     #fff796
urxvt*color12:     #4186be
urxvt*color13:     #cf9ebe
urxvt*color14:     #71bebe
urxvt*color15:     #ffffff

urxvt*geometry:	   117x24 ## perfect size for rtorrent for me =] 
urxvt*internalborder: 2

urxvt*termName:	    rxvt-unicode
urxvt*scrollTtyKeypress:    true
